{
    /*Define App's main color */
    /*These colors are just example*/
    -fx-primary: #2A2E37;
    -fx-secondary: #FFFF8D;
    -fx-primarytext: #B2B2B2;
    -fx-main: #535A60;
    /*we can see preview color in right hand side*/
}

/*
    to apply this style:
        - in fxml: styleClass="capsule-button" stylesheets="@../StyleSheet/StyleSheet.css"
        - in scene builder: properties -> Style Class -> choose capsule-button; Style Sheet -> choose file css
*/
.capsule-button{
    -fx-border-color: #ffc1d9;
    -fx-background-color: #ff72a8;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-text-fill: black;
    /*-fx-graphic: url('http://icons.iconarchive.com/icons/aha-soft/desktop-buffet/128/Pizza-icon.png');*/
}

.capsule-button:pressed{
    -fx-border-color: #ffc1d9;
    -fx-background-color: #ed006a;
    -fx-text-fill: white;
}

.capsule-button:hover{
    -fx-border-color: #ffc1d9;
    -fx-background-color: #ed006a;
    -fx-text-fill: white;
    /*-fx-graphic: url('http://icons.iconarchive.com/icons/aha-soft/desktop-buffet/128/Pizza-icon.png');*/
}

.bookmark-tab-button{
    -fx-border-color: #ffc1d9;
    -fx-background-color: #ffd3e4;
}
.bookmark-tab-button:hover{
    -fx-border-color: #ffc1d9;
    -fx-background-color: #ff72a8;
}

.bookmark-tab-button:pressed{
    -fx-border-color: #ffc1d9;
    -fx-background-color: #ed006a;
}

.jfx-list-cell:selected{
    -fx-background-color: #ff478d;
}

.jfx-list-cell:hover{
    -fx-background-color: #ff72a8;
}



.jfx-list-cell{
    -fx-background-insets: 0.0;
}

.jfx-list-view{
    -fx-background-insets: 0.0;
    -fx-cell-vertical-margin: 10;
    -fx-vertical-gap: 10;

}


.tab{
    -fx-background-color: #ff72a8;
    -fx-border-color: #ff478d;
    -fx-pref-width: 170;
    -fx-pref-height: 40;
}
.tab-label{
    -fx-text-fill: black;
    -fx-pref-width: 135;
    -fx-alignment: center-left;
}

.tab:selected{
    -fx-border-color: #ed006a;
    -fx-border-width: 6 0 0 0;
}

.tab:hover {
    -fx-background-color: #ed006a;
}
.tab:hover .tab-label{
     -fx-text-fill: white;
 }

.tab-header-background  {
    -fx-background-color: #ff72a8;
}

.tab-footer-background  {
    -fx-background-color: -fx-primarytext;
}

.tab:hover .tab-close-button{
    -fx-background-color: white;
}


.tab .tab-close-button{
    -fx-background-color: black;
    -fx-background-image: url("../Drawable/tab-close-button.png");
}

.tab-plus{
    -fx-pref-width: 27;
}



/*==========================*/
/*
.tab:focused{
    -fx-focus-color: transparent;
}
.tab-pane .tab-header-background{
    -fx-background-color: transparent;
}
.tab-pane .tab-header-area{
    -fx-background-insets: 0, 0 0 10;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}*/
.tab:selected .focus-indicator{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.jfx-text-field{
    -jfx-unfocus-color: #ff72a8;
    -jfx-focus-color: #ED006A;
    -fx-font-size: 15;
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
}

.context-menu{
    -fx-pref-width: 955;
}